* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.full-box {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .clock-box {
    min-width: 400px;
    min-height: 400px;
    border: 8px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    span:nth-child(2) {
      font-size: 50px;
      padding: 0 10px;
      position: relative;
      top: -4px;
      font-weight: 700;
    }
  }
  .button-box {
    margin-top: 20px;
    button {
      width: 100px;
      height: 30px;
      background-color: #fff;
      border: 1px solid #000;
      font-weight: 700;
      cursor: pointer;
    }
    button:active {
      background-color: yellow;
    }

  }
}